.search-area.left-align {
  display: flex;
  justify-content: left;
  max-width: 100%;
  margin: 5px auto;
  position: absolute;
  top: 15px;
  left: 70%;
}
@media screen and (max-width: 600px) {
  .search-area.left-align {
    position: static;
    justify-content: center;
    left: auto;
    text-align: center;
  }
}
.main-search-item{

  padding-top: 100px;
}

input {
  width: 100%; /* Adjusted width to fill the available space */
  max-width: 200px; /* Added max-width to limit the input's width */
  height: 30px;
  border-radius: 10px;
}


button {
  height: 30px;
  border-radius: 8px;
}

h1{
  text-align: left;
  font-family: 'Righteous', cursive;
  font-size: 300%;
}
h2{
font-family: 'Righteous', cursive;
text-align: center;
font-size: 500%;
padding-top: 30px;
color: black;
}
body {
  width: 100%;
  background: rgb(83, 229, 232);
  background: linear-gradient(
    45deg,
    rgba(83, 229, 232, 1) 27%,
    rgba(147, 142, 137, 0.7791491596638656) 82%
  );
  background-repeat: no-repeat;
}
.weather-sunny {
  background-image: url("src/assets/image/sunnyday.png");
}

.weather-cloudy {
  background-image: url("src/assets/image/cloudy.jpg");
}

.weather-rain {
  background-image: url("src/assets/image/rain.jpg");
}