
  .search-area {
    /* align-items: center; */
      display: flex;
      justify-content: center;
      max-width: 100%;
      margin: 5px auto;
      position: relative;
  }
  .main-search-item{

    padding-top: 100px;
  }
  
input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
button{
    height: 30px;
    border-radius: 8px;
}

h1{
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 500%;
  padding-top: 30px;
}
body{
  width: 100%;
  background: rgb(121,9,9);
  background: linear-gradient(45deg, rgba(121,9,9,1) 0%, rgba(255,166,0,1) 8%);
  background-size: cover;
  background-repeat: no-repeat;
}
