<!-- <body>
    <header>
        <h1>Weather<span>Info</span></h1>
    </header>
    <div class="search-area">
           
         
        <div class="main-search">
            <div class="main-search-item">
                <input [(ngModel)]="city" type="text" placeholder="Search your location..." #cityInput>
                <button class="main-search-button" (click)="searchLocation()" routerLink="/result">Search</button>
            </div>
        </div>
                                        
    
    </div>
</body> -->
